{% extends 'layout.twig' %}

{% block sidebar %}{% endblock %}
{% block title %}{{ project_title }}{% endblock %}

{% block content %}
    <h1>{{ project_title }}</h1>
    <h2>Crates</h2>
    {% for crate in crates %}
        <a href="{{ crate }}/index.html">{{ crate }}</a><br />
    {% endfor %}
{% endblock %}
