{% extends 'layout.twig' %}

{% block content %}
    {% block title %}
        <h1>{{ element.name }} ({{ element.type }})</h1>
    {% endblock %}

    {% block short_description %}
        {{ short_description(element.attrs.doc) }}
    {% endblock %}

    {% block definition %}{% endblock %}

    {% block docs %}
        {{ long_description(element.attrs.doc) }} {# TODO markdown render #}
    {% endblock %}
{% endblock %}
