<html>
<head>
    <title>Rust Docs</title> {# TODO #}

    <link rel="stylesheet" type="text/css" href="{{ root_path }}main.css">
</head>
<body>

<div class="sidebar">

</div>

<div>
{% block content %}
{% endblock %}
</div>

</body>
</html>
